
.mainWrap {
  display: grid;
  grid-template-columns: 230px 1fr;
  height: 100vh;
}

.aside {
  background: #1c1e29;
  padding: 16px;
  color: white;
  display: flex;
  flex-direction: column;
}

.asideInner {
  // this will grow till the available space
  flex: 1;
}

.clientsList {
  display: flex;
  align-items: center;
  //in case the client name doesnt fit the space ,that client will be placed in next line
  flex-wrap: wrap;
  gap: 20px;
}

.client {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}

.logo{
    border-bottom: 1px solid #66ffdeae;
    padding-bottom: 10px;
}

.logoImage {
    height: 60px;
    width: 190px;

}

.leaveBtn {
    margin-top: 20px;
    background: #66ffde;
}

.leaveBtn:hover {
    background-color:  #282a36;
    color: #66ffde;
    border: 1px solid #66ffde;
}